<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="net.bioclipse.moss.contribution1">
         <action
               label="Moss"
               icon="icons/sample.gif"
               class="net.bioclipse.moss.popup.actions.RunMossAction"
               menubarPath="additions"
               id="net.bioclipse.moss.runMoss">
         </action>
      </objectContribution>
   </extension>
   
   <extension
         id="preferenceCustomization"
         name="preference.ini"
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>

  <extension point="org.eclipse.core.contenttype.contentTypes">
    <content-type base-type="org.eclipse.core.runtime.text"
      id="net.bioclipse.contenttypes.moss.input"
      name="MoSS Input File"
      file-extensions="mossinput"
      priority="normal">
    </content-type>
    <content-type base-type="org.eclipse.core.runtime.text"
      id="net.bioclipse.contenttypes.moss.output"
      name="MoSS Output File"
      file-extensions="mossoutput"
      priority="normal">
    </content-type>
    <content-type base-type="org.eclipse.core.runtime.text"
      id="net.bioclipse.contenttypes.moss.output.index"
      name="MoSS Output Index File"
      file-extensions="mossoutputindex"
      priority="normal">
    </content-type>
  </extension>

</plugin>
