	
<?eclipse version="3.4"?>
	<plugin>      
	   <extension
	         point="net.bioclipse.scripting.contribution">
	      <scriptContribution
	            service="net.bioclipse.moss.business.MossManagerFactory"
	            id="net.bioclipse.moss.bussines.business.MossManager">
	      </scriptContribution>
	   </extension>
		   
	      <extension
	         point="org.eclipse.help.contexts">
	         <contexts file="contexts.xml" />
	   </extension>
	
	<extension
	         point="org.eclipse.help.toc">
	      <toc
	            file="toc.xml"
	            primary="true"/>
	   </extension>
	     
	</plugin>
